<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleGetInfoString</key>
		<string>BrawlGame</string>
		<key>CFBundleExecutable</key>
		<string>BrawlGame</string>
		<key>CFBundleIdentifier</key>
		<string>com.brawlgame.BrawlGame</string>
		<key>CFBundleName</key>
		<string>BrawlGame</string>
		<key>CFBundleIconFile</key>
		<string>logo.icns</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>LSMinimumSystemVersion</key>
		<string>10.12</string>
	</dict>
</plist>